// #container {
//     margin-left: 150px;
@import "../../style/variables.scss";

    #journey {
        position: absolute;
        top: 140px;

        #data-table {
            margin-left: 350px;
            margin-top: 20px;
            border-spacing: 0 5px;
            font-size: 13px;

            thead th {
                padding-left: 10px;
                text-align: justify;
                color: $titleTable;
            }

            #tableFinances td {
                background: white;
                width: 200px;
                color: $textColor;
                padding: 10px;
                margin: 50px;

                &:first-child {
                    border-radius: 5px 0 0 5px;
                }

                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
            }
        }
    }
// }
