/* ========= COLORS INDEX ======= */
/* ======= COLORS SVG ======== */
/* @font-face {
  font-family: Gotham;
  src: url(/projetod1/src/components/Table/Journey/assets/fonts/Gotham-Bold.ttf);
}

@font-face {
  font-family: Gotham Book;
  src: url(/projetod1/src/components/Table/Journey/assets/fonts/Gotham-Book.ttf);
} */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /* font-family: Gotham; */
  background: #fafbff;
  font-size: 62.5%;
}

header {
  z-index: 3;
  position: fixed;
  height: 100%;
}

header .sidebar {
  background: transparent -webkit-gradient(linear, left top, right top, from(#00e1ff), to(#117eff)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #00e1ff 0%, #117eff 100%) 0% 0% no-repeat padding-box;
}

header .sidebar-menu {
  background: #1A1731;
  width: 70px;
  height: 100%;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
}

header .sidebar-menu .logo img {
  width: 50px;
  max-width: 30px;
  padding-top: 15px;
  padding-bottom: 40px;
}

header .sidebar-menu img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  display: block;
  width: 20px;
  margin: 25px auto;
}

header .sidebar-menu img:hover {
  cursor: pointer;
}

header .sidebar-menu li {
  list-style: none;
}

header .sidebar-menu .separator li:last-child {
  width: 35%;
  margin: auto;
  border-bottom: 2px solid #117EFF;
}

header .sidebar-menu .footer-menu {
  margin-top: 200px;
}

.menu {
  z-index: 2;
  width: 100%;
  padding: 40px 150px;
  padding-top: 40px;
  position: fixed;
  background: #FAFBFF;
}

.menu .contentMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .contentMenu .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .contentMenu .user span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: white;
  background: #117EFF;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.menu .contentMenu .user img {
  height: 26px;
  padding: 3px 10px;
  background: #ffffff;
  margin: auto 15px;
  border-radius: 4px;
}

.menu .contentMenu .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .contentMenu .search input {
  height: 35px;
  width: 100%;
}

.menu .contentMenu .search input,
.menu .contentMenu .search button {
  margin: 0 15px;
  border: none;
}

.menu .contentMenu .search input:hover,
.menu .contentMenu .search button:hover {
  cursor: pointer;
}

.menu .contentMenu .search input:focus,
.menu .contentMenu .search button:focus {
  outline: none;
}

.menu .contentMenu .search button {
  margin-left: 20px;
  height: 35px;
  width: 150px;
  background: #117EFF;
  color: white;
  border-radius: 4px;
}

.menu .contentMenu .search button:hover {
  background: linear-gradient(280deg, #117EFF, #00E1FF);
}

.menu .contentMenu .search button img {
  width: 10px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.menu .contentMenu .search .searchInput {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: justify;
  background: #FFFFFF;
  border: 1px solid gray;
  border-radius: 4px;
}

.menu .contentMenu .search .searchInput i {
  -webkit-transform: rotate(100grad);
          transform: rotate(100grad);
  color: #117EFF;
  margin-left: 10px;
  margin-right: -10px;
  font-size: 15px;
}

#container {
  margin-left: 150px;
}

#container #filter {
  z-index: 3;
  position: fixed;
  top: 130px;
}

#container #filter h1 {
  margin-left: 10px;
  margin-bottom: 20px;
}

#container #filter .options {
  height: 25px;
  cursor: pointer;
  margin: 10px 0;
  font-family: Gotham Book;
  color: #3E4157;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #filter .options img {
  cursor: pointer;
  font-size: 13px;
  width: 20px;
  margin: 10px 10px;
}

#container #filter .options span {
  background: #EBEEF6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: auto;
  margin-right: 20px;
}

#container #journey {
  position: absolute;
  top: 140px;
}

#container #journey #data-table {
  margin-left: 350px;
  margin-top: 20px;
  border-spacing: 0 5px;
  font-size: 13px;
}

#container #journey #data-table thead th {
  padding-left: 10px;
  text-align: justify;
  color: #9196AB;
}

#container #journey #data-table #tableFinances td {
  background: white;
  width: 200px;
  color: #3E4157;
  padding: 10px;
  margin: 50px;
}

#container #journey #data-table #tableFinances td:first-child {
  border-radius: 5px 0 0 5px;
}

#container #journey #data-table #tableFinances td:last-child {
  border-radius: 0 5px 5px 0;
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.modalOverlay .modal {
  width: 380px;
  height: 215px;
  background: white;
  margin: 150px auto;
  border-radius: 10px;
  padding: 20px;
}

.modalOverlay .modal .botoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.modalOverlay .modal .botoes .btnCancel,
.modalOverlay .modal .botoes .btnContinue {
  color: #9196AB;
  font-family: Gotham;
  border: none;
  background: transparent;
}

.modalOverlay .modal .botoes .btnContinue {
  color: #117EFF;
}

.modalOverlay .modal .botoes button {
  height: 35px;
  width: 30%;
  margin-top: 5px;
  border-radius: 5px;
}

.modalOverlay .modal .botoes button:hover {
  cursor: pointer;
  background: #f5f5f5;
}

.modalOverlay .modal h1 {
  font-family: Gotham;
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #9196AB;
}

.modalOverlay .modal h1 strong {
  color: #3E4157;
}

.modalOverlay .modal p {
  padding-bottom: 40px;
}

.modalOverlay .modal input,
.modalOverlay .modal label {
  font: Gotham;
  font-weight: normal;
  color: #9196AB;
  width: 95%;
  height: 33px;
  border-radius: 5px;
  margin: auto;
  display: block;
}

.modalOverlay .modal input {
  color: black;
  border: 1px solid #CCCFDE;
}

.active {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */