@import "./variables";
// @font-face {
//     font-family: Gotham;
//     src: url(/projetod1/src/components/Table/Journey/assets/fonts/Gotham-Bold.ttf);
// }

// @font-face {
//     font-family: Gotham Book;
//     src: url(/projetod1/src/components/Table/Journey/assets/fonts/Gotham-Book.ttf);
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: Gotham;
    background: #fafbff;
    font-size: 62.5%;
}

// header {
//     z-index: 3;
//     position: fixed;
//     height: 100%;

// }


.modalOverlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    .modal {
        width: 380px;
        height: 215px;
        background: white;
        margin: 150px auto;
        border-radius: 10px;
        padding: 20px;

        .botoes {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;

            .btnCancel,
            .btnContinue {
                color: $titleTable;
                // font-family: Gotham;
                border: none;
                background: transparent;
            }

            .btnContinue {
                color: $colorBlue;
            }

            button {
                height: 35px;
                width: 30%;
                margin-top: 5px;
                border-radius: 5px;

                &:hover {
                    cursor: pointer;
                    background: #f5f5f5;
                }
            }
        }

        h1 {
            // font-family: Gotham;
            font-size: 13px;
            margin-left: 10px;
            margin-bottom: 5px;
            color: $titleTable;

            strong {
                color: $textColor;
            }
        }

        p {
            padding-bottom: 40px;
        }

        input,
        label {
            // font: Gotham;
            font-weight: normal;
            color: $titleTable;
            width: 95%;
            height: 33px;
            border-radius: 5px;
            margin: auto;
            display: block;
        }

        input {
            color: black;
            border: 1px solid $borderInput;
        }
    }
}

.active {
    opacity: 1;
    visibility: visible;
}

// .item img {
//     margin-top: 150px;
//     margin-left: 150px;
//     width: 98px;
//     height: 20px;
//     background: transparent linear-gradient(90deg, #00e1ff 0%, #117eff 100%) 0% 0% no-repeat padding-box;
//     opacity: 1;
// }
