/* ========= COLORS INDEX ======= */


$backgroundColor: #FAFBFF;
$backgroundImage: #FFFFFF;
$textColor: #3E4157;
$tableColor: #FFFFFF;
$titleTable: #9196AB;
$titleTable2: #b1b2b4;
$sidebarColor: #1A1731;
$colorBlue: #117EFF;
$borderBlue: #3FA8F4;
$borderBlue2: #00E1FF;
$borderInput: #CCCFDE;
$filterJouner: #EBEEF6;
/* ======= COLORS SVG ======== */

$table: #D190DD;
$paperPlane:#C1CA4F;
$playCircle: #35C667;
$pen: #3FA8F4;
$bed: #EBBD3E;
$check: #9FABD5;