@import "../../style/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar {
    height: 100%;
    z-index: 3;
    position: fixed;

    #sidebar-menu {
        border-top: 3px solid $borderBlue2;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
        border-bottom: 3px solid $borderBlue2;
        background: $sidebarColor;
        width: 70px;
        height: 100%;

        .logo {
            img {
                filter: invert(100%) sepia(201%) saturate(978%) hue-rotate(100deg) brightness(504%) contrast(500%);
                width: 30px;
                padding-top: 15px;
                padding-bottom: 40px;

                &:hover {
                    filter: invert(100%) sepia(201%) saturate(978%) hue-rotate(100deg) brightness(504%) contrast(500%);
                }
            }
        }

        img {
            &:hover {
                filter: invert(27%) sepia(51%) saturate(2078%) hue-rotate(180deg) brightness(104%) contrast(507%);
                cursor: pointer;
            }

            filter: invert(100%);
            display: block;
            width: 20px;
            margin: 25px auto;
        }

        li {
            list-style: none;

            Tooltip {
                background-color: red;
            }
        }

        .separator li {
            &:last-child {
                width: 35%;
                margin: auto;
                border-bottom: 2px solid $colorBlue;
            }
        }

        .footer-menu {
            margin-top: 200px;
        }
    }
}
