@import "../../style/variables.scss";

#sidebar {
    background: transparent linear-gradient(90deg, #00e1ff 0%, #117eff 100%) 0% 0% no-repeat padding-box;
}

#sidebar-menu {
    background: $sidebarColor;
    width: 70px;
    height: 100%;

    border-top: 4px solid red;
    border-bottom: 4px solid red;

    .logo {
        img {
            width: 50px;
            max-width: 30px;
            padding-top: 15px;
            padding-bottom: 40px;
        }
    }

    img {
        &:hover {
            cursor: pointer;
        }

        filter: invert(100%);
        display: block;
        width: 20px;
        margin: 25px auto;
    }

    li {
        list-style: none;
    }

    .separator li {
        &:last-child {
            width: 35%;
            margin: auto;
            border-bottom: 2px solid $colorBlue;
        }
    }

    .footer-menu {
        margin-top: 200px;
    }
}
